Question 1(a)

In [21]:
import pandas as pd
student=pd.read_csv('Students_Performance.csv')
gender_count=student['gender'].value_counts() #'gender_count' will store count of male aand female candidates as a series
print('{0} number of males and {1} number of females participted in the test'.format(gender_count['male'],gender_count['female']))

482 number of males and 518 number of females participted in the test

Question 1(b)

In [23]:
student['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

Conclusion from above output are as follows:
From the above output, it can be seen that parents have six types of education levels:
375 parents have completed only up to high school level, 
226 have attended college education, 
399 have acquired some king of degree (222 associates, 118 bachelors and 59 masters)

Question 1(c) - (i)  #Average Performance based on Gender

In [9]:
#This pgm finds students of which gender (male or female) performs best on each subject based on average score.
#Avg marks obtained by males and females is calculated separately for each subject, viz, math, reading and writing.
#Then, avg of male and female of each subject are compared and results are printed.
#'\033[1;4m makes the text bold and underlined
print('\033[1;4m(i)Average Performance based on Gender\n\033[0m')
#calculate avg of math, reading and writing based on gender and results are stored in table 'avgScore' 
avgScore=student.groupby('gender').agg({'math score':['mean'],'reading score':['mean'],'writing score':['mean']}) 

#this for loop iterates through the table 'avgScore' column wise. Avg of math score of male and female is taken in 1st iteration,
#Avg of reading score of male and female is taken in 2nd iteration, Avg of writing score of male and female is taken in 3rd iteration.
#In each iteration, avg marks (in one subject) of male and female are compared and results displayed.
for i in avgScore.keys(): 
    score_female,score_male=avgScore[i].iloc[0],avgScore[i].iloc[1] #store avg marks from table 'avgScore' into two variables
    
    if(score_female>score_male):
        print("Female students got the most on average for", i[0])
    else:
        print("Male students got the most on average for", i[0])

avgScore  #display the calculated avg of math, reading and writing based on gender

(i)Average Performance based on Gender

Male students got the most on average for math score
Female students got the most on average for reading score
Female students got the most on average for writing score

       math score reading score writing score
             mean          mean          mean
gender
female  63.376448     72.590734     72.467181
male    68.821577     65.545643     63.446058

Question 1(c) - (ii) #Average Performance based on Test Preparation Course

In [11]:
#this pgm finds whether the students who competed test preparation course performs best on each subject based on average score.
print('\033[1;4m\n(ii)Average Performance based on Test Preparation Course\n\033[0m')
avgScore=student.groupby('test preparation course').agg({'math score':['mean'],'reading score':['mean'],'writing score':['mean']})

for i in avgScore.keys():
    score_completed,score_none=avgScore[i].iloc[0],avgScore[i].iloc[1]

    if(score_completed>score_none):
        print("Students who completed test preparation course got the most on average for", i[0])
    else:
        print("Students who do not completed test preparation course got the most on average for", i[0])

avgScore

(ii)Average Performance based on Test Preparation Course

Students who completed test preparation course got the most on average for math score
Students who completed test preparation course got the most on average for reading score
Students who completed test preparation course got the most on average for writing score

                        math score reading score writing score
                              mean          mean          mean
test preparation course
completed                 69.96648     74.175978     74.684358
none                      63.78972     66.417445     64.457944

Question 1(d)

In [288]:
#Variation in scores is taken in the form of standard deviation
print('\033[1;4mFollowing table shows the scoring variation for math, reading and writing based on Gender:\n\033[0m')
std_Score_gender=student.groupby('gender').agg({'math score':['std','max','min'],'reading score':['std','max','min'],'writing score':['std','max','min']})
std_Score_gender

Following table shows the scoring variation for math, reading and writing based on Gender:

       math score          reading score          writing score
              std  max min           std  max min           std  max min
gender
female  16.029928  100   0     14.411018  100  17     14.844842  100  10
male    14.556411  100  27     14.149594  100  23     14.227225  100  15

In [274]:
print('\033[1;4m\nFollowing table shows the scoring variation for math, reading and writing based on Test preparation Course:\n\033[0m')
std_Score_preparation=student.groupby('test preparation course').agg({'math score':['std','max','min'],'reading score':['std','max','min'],'writing score':['std','max','min']})
std_Score_preparation

Following table shows the scoring variation for math, reading and writing based on Test preparation Course:

                        math score          reading score           \
                               std  max min           std  max min
test preparation course
completed                14.521847  100  23     13.537572  100  37
none                     15.705689  100   0     14.608896  100  17

                        writing score
                                  std  max min
test preparation course
completed                   13.236412  100  36
none                        15.041667  100  10

From above output, it is seen that marks scored by both males and females are showing equal variance/std deviation from mean.
ie, spread of each students marks from corresponding mean will be approximately same. Min and max marks scored in each subject gender wise and preparation strategy wise also displayed. Max marks is same for al categoreis, but minimum marks in each subject show some variation for all genders and test preparation course.

Question 1(e)

In [15]:
student['math score'].quantile(q=0.75) #find the math score which comes at 25 the percentile
pd.set_option('display.max_rows',None) #to set displaying all columns in pandas output. By default, only first and last 5 rows will be displayed.
#25th percentile value of math score was 77. So, decided to give bonus points to all students with math score > = 77 
student[student['math score']>=77].sort_values(by=['math score'],axis=0,ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
998,male,group E,associate's degree,free/reduced,completed,100,100,93
997,male,group D,some college,standard,completed,100,97,99
996,male,group A,some college,standard,completed,100,96,86
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
515,female,group E,some college,standard,none,100,92,97
995,male,group E,some college,standard,completed,99,87,81
514,female,group E,high school,standard,none,99,93,90
513,female,group E,bachelor's degree,standard,completed,99,100,100
994,male,group C,associate's degree,standard,completed,98,87,90
993,male,group C,some college,standard,completed,98,86,90
512,female,group D,some college,standard,none,98,100,99
510,female,group B,bachelor's degree,standard,none,97,97,96
511,female,group D,some high school,standard,completed,97,100,100
992,male,group E,associate's degree,standard,completed,97,82,88
989,male,group A,associate's degree,standard,completed,97,92,86
990,male,group C,associate's degree,standard,none,97,93,91
991,male,group E,some college,standard,none,97,87,82
508,female,group C,bachelor's degree,standard,completed,96,100,100
509,female,group C,associate's degree,standard,completed,96,96,99
988,male,group C,bachelor's degree,standard,completed,96,90,92
507,female,group E,associate's degree,standard,completed,95,89,92
987,male,group D,master's degree,standard,none,95,81,84
985,male,group E,associate's degree,standard,completed,94,85,82
505,female,group B,associate's degree,standard,completed,94,87,92
506,female,group E,master's degree,standard,completed,94,99,100
986,male,group E,high school,standard,none,94,73,71
984,male,group E,some high school,standard,none,94,88,78
983,male,group C,bachelor's degree,standard,completed,94,90,91
982,male,group B,some high school,standard,completed,94,86,87
503,female,group D,bachelor's degree,free/reduced,completed,93,100,100
504,female,group E,associate's degree,standard,completed,93,100,95
981,male,group E,some college,free/reduced,none,93,90,83
980,male,group C,some college,standard,completed,93,84,90
978,male,group C,associate's degree,standard,none,92,79,84
979,male,group E,some high school,standard,none,92,87,78
499,female,group A,some high school,standard,completed,92,100,97
500,female,group C,bachelor's degree,standard,completed,92,100,99
501,female,group D,master's degree,standard,none,92,100,100
502,female,group E,bachelor's degree,free/reduced,completed,92,100,100
497,female,group C,associate's degree,standard,none,91,86,84
498,female,group C,associate's degree,standard,none,91,95,94
971,male,group A,bachelor's degree,standard,none,91,96,92
977,male,group E,associate's degree,free/reduced,completed,91,73,80
976,male,group C,master's degree,standard,completed,91,85,85
975,male,group C,bachelor's degree,standard,completed,91,81,79
974,male,group C,some college,standard,none,91,74,76
973,male,group B,some college,standard,completed,91,96,91
972,male,group B,associate's degree,standard,completed,91,89,92
964,male,group B,associate's degree,standard,none,90,78,81
495,female,group B,master's degree,standard,none,90,95,93
969,male,group E,master's degree,standard,none,90,85,84
968,male,group D,associate's degree,standard,none,90,87,85
967,male,group D,associate's degree,free/reduced,none,90,87,75
966,male,group C,high school,standard,none,90,75,69
965,male,group B,some college,standard,completed,90,95,92
496,female,group B,associate's degree,standard,completed,90,90,91
970,male,group E,associate's degree,free/reduced,none,90,90,82
494,female,group D,bachelor's degree,standard,none,89,100,100
963,male,group E,some high school,standard,completed,89,84,77
961,male,group D,high school,standard,none,89,87,79
960,male,group D,some high school,standard,completed,89,88,82
959,male,group D,master's degree,standard,none,89,84,82
962,male,group E,associate's degree,standard,none,89,76,74
488,female,group B,some college,standard,completed,88,95,92
952,male,group B,bachelor's degree,free/reduced,none,88,75,76
950,male,group B,some high school,standard,none,88,84,75
958,male,group D,some college,standard,none,88,77,77
957,male,group D,some high school,standard,completed,88,74,75
956,male,group D,bachelor's degree,standard,none,88,78,83
955,male,group D,some college,standard,none,88,73,78
954,male,group D,high school,standard,none,88,78,75
953,male,group C,high school,standard,none,88,89,86
951,male,group B,some college,standard,completed,88,85,76
489,female,group C,some college,standard,completed,88,93,93
490,female,group C,some college,standard,completed,88,95,94
491,female,group D,associate's degree,standard,completed,88,92,95
492,female,group D,high school,standard,completed,88,99,100
493,female,group E,master's degree,standard,completed,88,99,95
945,male,group D,associate's degree,standard,completed,87,84,85
947,male,group E,high school,standard,completed,87,91,81
939,male,group A,bachelor's degree,standard,completed,87,84,87
949,male,group E,some high school,standard,completed,87,84,76
948,male,group E,associate's degree,standard,none,87,74,76
946,male,group E,some college,free/reduced,completed,87,74,70
940,male,group B,associate's degree,standard,none,87,85,73
944,male,group C,associate's degree,free/reduced,none,87,73,72
943,male,group C,associate's degree,standard,completed,87,100,95
487,female,group E,some college,standard,none,87,85,93
486,female,group E,associate's degree,standard,none,87,94,95
485,female,group D,master's degree,standard,none,87,100,100
484,female,group C,some college,standard,completed,87,89,94
483,female,group B,high school,standard,none,87,95,86
942,male,group B,some college,standard,completed,87,84,86
941,male,group B,bachelor's degree,free/reduced,completed,87,90,88
934,male,group C,high school,standard,completed,86,81,80
935,male,group D,some high school,standard,none,86,80,75
936,male,group D,some high school,standard,none,86,73,70
937,male,group E,some college,standard,none,86,76,74
933,male,group C,bachelor's degree,standard,none,86,83,86
938,male,group E,high school,free/reduced,completed,86,81,75
482,female,group E,some college,standard,completed,86,85,91
481,female,group C,bachelor's degree,standard,none,86,92,87
930,male,group D,some college,standard,completed,85,81,85
480,female,group E,associate's degree,standard,none,85,92,85
474,female,group C,some high school,standard,completed,85,92,93
927,male,group B,some high school,standard,completed,85,84,78
928,male,group C,associate's degree,standard,none,85,76,71
929,male,group D,master's degree,standard,none,85,84,89
473,female,group A,some high school,standard,completed,85,90,92
931,male,group E,bachelor's degree,standard,completed,85,66,71
479,female,group D,some college,standard,completed,85,86,98
478,female,group D,master's degree,free/reduced,completed,85,95,100
477,female,group D,associate's degree,standard,none,85,91,89
475,female,group C,associate's degree,standard,none,85,89,95
476,female,group C,associate's degree,standard,none,85,84,82
932,male,group E,some college,standard,completed,85,75,68
922,male,group D,master's degree,free/reduced,completed,84,89,90
472,female,group E,associate's degree,standard,none,84,95,92
471,female,group C,some college,standard,none,84,87,91
925,male,group E,some college,standard,completed,84,83,78
924,male,group E,some college,standard,none,84,77,71
923,male,group D,some high school,standard,none,84,84,80
920,male,group C,associate's degree,standard,none,84,80,80
921,male,group C,some college,standard,none,84,87,81
919,male,group C,high school,standard,none,84,77,74
918,male,group B,some high school,standard,completed,84,83,75
926,male,group E,high school,standard,none,84,73,69
917,male,group E,some college,standard,none,83,80,73
916,male,group C,associate's degree,standard,none,83,72,78
914,male,group C,bachelor's degree,standard,completed,83,82,84
915,male,group C,bachelor's degree,standard,none,83,78,73
470,female,group E,associate's degree,free/reduced,completed,83,86,88
468,female,group C,associate's degree,standard,completed,83,85,90
467,female,group C,bachelor's degree,standard,none,83,93,95
469,female,group C,some college,standard,none,83,83,90
459,female,group B,associate's degree,standard,none,82,80,77
458,female,group A,associate's degree,standard,none,82,93,93
907,male,group B,high school,standard,none,82,82,80
908,male,group C,high school,standard,completed,82,84,82
909,male,group C,associate's degree,standard,completed,82,75,77
910,male,group D,master's degree,standard,none,82,82,74
911,male,group D,some college,standard,completed,82,82,88
912,male,group E,bachelor's degree,standard,none,82,62,62
913,male,group E,some high school,standard,none,82,67,61
460,female,group B,some high school,standard,none,82,82,80
905,male,group B,associate's degree,free/reduced,completed,82,78,74
461,female,group B,some college,standard,none,82,85,87
462,female,group C,some college,standard,none,82,90,94
463,female,group C,associate's degree,free/reduced,completed,82,93,93
464,female,group D,some college,standard,completed,82,97,96
465,female,group D,associate's degree,standard,none,82,95,89
466,female,group E,associate's degree,standard,completed,82,85,86
906,male,group B,associate's degree,standard,completed,82,84,78
903,male,group E,some college,standard,completed,81,74,71
904,male,group E,some high school,standard,completed,81,75,76
452,female,group C,bachelor's degree,standard,none,81,88,90
902,male,group E,high school,standard,completed,81,80,76
892,male,group B,associate's degree,standard,completed,81,82,82
450,female,group B,high school,standard,none,81,91,89
453,female,group C,associate's degree,standard,none,81,77,79
454,female,group C,high school,standard,none,81,84,82
455,female,group D,some high school,standard,none,81,97,96
456,female,group E,master's degree,standard,none,81,92,91
457,female,group E,master's degree,free/reduced,none,81,86,87
901,male,group E,associate's degree,standard,completed,81,81,79
891,male,group A,some college,free/reduced,completed,81,78,81
893,male,group B,associate's degree,standard,none,81,73,72
451,female,group C,master's degree,standard,completed,81,91,87
894,male,group C,high school,standard,none,81,66,64
900,male,group D,some high school,standard,none,81,78,78
899,male,group D,some college,standard,none,81,82,84
898,male,group D,associate's degree,standard,none,81,71,73
897,male,group D,master's degree,standard,none,81,81,84
896,male,group D,associate's degree,free/reduced,none,81,75,78
895,male,group D,associate's degree,standard,completed,81,72,77
883,male,group D,some high school,free/reduced,completed,80,79,79
444,female,group B,associate's degree,standard,none,80,86,83
889,male,group D,associate's degree,standard,none,80,75,69
449,female,group E,some high school,standard,completed,80,85,85
448,female,group E,bachelor's degree,standard,none,80,83,83
447,female,group D,some high school,standard,completed,80,92,88
446,female,group D,some high school,standard,none,80,90,82
445,female,group D,some college,standard,none,80,90,89
888,male,group D,bachelor's degree,standard,none,80,73,72
882,male,group C,some college,free/reduced,none,80,64,66
887,male,group D,associate's degree,standard,none,80,63,63
886,male,group D,associate's degree,standard,none,80,68,72
885,male,group D,master's degree,standard,none,80,80,72
890,male,group E,high school,standard,none,80,76,65
880,male,group A,bachelor's degree,standard,completed,80,78,81
881,male,group B,associate's degree,standard,none,80,76,64
884,male,group D,associate's degree,standard,none,80,75,77
872,male,group C,master's degree,free/reduced,none,79,81,71
879,male,group E,bachelor's degree,free/reduced,completed,79,74,72
867,male,group A,associate's degree,free/reduced,completed,79,82,82
439,female,group D,bachelor's degree,standard,none,79,89,89
440,female,group D,some college,free/reduced,none,79,89,86
441,female,group D,some college,standard,completed,79,84,91
442,female,group E,associate's degree,standard,completed,79,88,94
443,female,group E,bachelor's degree,standard,completed,79,81,82
878,male,group D,associate's degree,free/reduced,completed,79,82,80
436,female,group B,some college,standard,none,79,86,92
437,female,group C,bachelor's degree,standard,completed,79,92,89
866,male,group A,some high school,free/reduced,none,79,82,73
438,female,group D,some college,standard,none,79,86,81
868,male,group B,some college,standard,none,79,67,67
877,male,group D,some college,standard,none,79,73,67
876,male,group C,master's degree,free/reduced,completed,79,77,75
875,male,group C,some high school,free/reduced,none,79,76,65
874,male,group C,master's degree,standard,none,79,72,69
870,male,group B,some high school,standard,completed,79,85,86
873,male,group C,master's degree,standard,none,79,78,77
871,male,group C,some college,standard,completed,79,79,78
869,male,group B,high school,standard,none,79,60,65
432,female,group D,bachelor's degree,standard,none,78,82,79
435,female,group D,master's degree,standard,none,78,91,96
434,female,group D,bachelor's degree,free/reduced,none,78,90,93
433,female,group D,high school,standard,none,78,81,80
431,female,group B,bachelor's degree,free/reduced,none,78,79,76
430,female,group A,some college,standard,completed,78,87,91
857,male,group A,some college,standard,completed,78,72,70
858,male,group B,high school,standard,completed,78,69,67
859,male,group C,associate's degree,free/reduced,completed,78,81,82
860,male,group C,associate's degree,standard,completed,78,77,77
862,male,group D,high school,free/reduced,completed,78,77,80
863,male,group D,some high school,standard,completed,78,81,86
864,male,group E,some high school,free/reduced,completed,78,83,80
865,male,group E,associate's degree,free/reduced,completed,78,74,72
861,male,group C,some high school,standard,completed,78,72,69
424,female,group D,associate's degree,free/reduced,completed,77,89,98
417,female,group B,master's degree,standard,none,77,90,84
423,female,group C,some high school,standard,none,77,91,88
422,female,group C,some high school,standard,completed,77,90,85
421,female,group C,some college,free/reduced,none,77,90,91
420,female,group C,bachelor's degree,standard,completed,77,94,95
419,female,group C,bachelor's degree,standard,none,77,88,87
418,female,group B,high school,standard,completed,77,82,89
426,female,group D,some college,standard,none,77,68,77
416,female,group B,bachelor's degree,free/reduced,none,77,85,87
425,female,group D,master's degree,standard,completed,77,82,91
849,male,group A,bachelor's degree,standard,none,77,67,68
427,female,group D,associate's degree,standard,none,77,77,73
428,female,group D,some college,free/reduced,none,77,86,86
429,female,group E,some high school,standard,none,77,79,80
850,male,group C,associate's degree,free/reduced,none,77,67,64
851,male,group D,some college,standard,completed,77,62,62
852,male,group D,some college,free/reduced,none,77,62,64
853,male,group D,associate's degree,free/reduced,none,77,78,73
854,male,group D,some high school,standard,completed,77,68,69
855,male,group E,associate's degree,free/reduced,completed,77,69,68
856,male,group E,some high school,standard,completed,77,76,77
415,female,group B,master's degree,free/reduced,completed,77,97,94
414,female,group A,high school,free/reduced,completed,77,88,85

Question 2(a)

In [17]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from statsmodels.stats.weightstats import ztest

sales=pd.read_csv('Sales_add.csv')
pop_mean=sales['Sales_before_digital_add(in $)'].mean() #before sales avg
sample_mean=sales['Sales_After_digital_add(in $)'].mean()#after sales avg
sample_std_dev=sales['Sales_After_digital_add(in $)'].std() #since t test is used, sample std deviation taken in calculation
sample_size=sales['Month'].size

#Null hyp H0: There is no improvemnet in sales
#Alt hyp Ha: There is improvemnet in sales after digital marketing
#t-test chosen because sample size<30
alpha=0.05 #confidence interval taken as 95%

data=np.array(sales['Sales_After_digital_add(in $)'])
t_stats,p_value=stats.ttest_1samp(data,pop_mean,alternative="greater") #since we want to prove there is an increase in sales, one sided t test is done.
tcritical=1.721 # from one sided t table
print(t_stats,p_value)

if t_stats > tcritical:
  print("Reject null hyp: There is improvemnet in sales after digital marketing")
else:
  print("fail to reject null hyp: There is no improvemnet in sales")

15.028066221386988 5.189045779399668e-13
Reject null hyp: There is improvemnet in sales after digital marketing

Question 2(b)

In [19]:
import numpy as np
import scipy.stats as stats

#Null hyp H0: there is no dependency between the features Region and Manager
#Alt hyp Ha: there is dependency between the features Region and Manager
observed=np.array([[4,4,1],[3,1,3],[3,2,1]]) #first array [4,4,1] represents number of manager A region wise, 
                                             #second array [3,1,3] represents number of manager B region wise,
                                             #third array [3,2,1] represents number of manager C region wise
chi2_stat,p_value,dof,expected = stats.chi2_contingency(observed)
print(chi2_stat,p_value,dof,expected)
dof=4 #(no of rows-1)=2, (no of col-1)=2
alpha=0.05 #confidence interval taken as 95%
chi_critical=9.488 #from chi square table corresponding to dof=4 and alpha =0.05
print('\nThe result is:')
if p_value < alpha:
  print("Reject null hyp: there is dependency between the features Region and Manager.")
else:
  print("Fail to reject null hyp: there is no dependency between the features Region and Manager.")

3.050566893424036 0.5493991051158094 4 [[4.09090909 2.86363636 2.04545455]
 [3.18181818 2.22727273 1.59090909]
 [2.72727273 1.90909091 1.36363636]]

The result is:
Fail to reject null hyp: there is no dependency between the features Region and Manager.